<!DOCTYPE html>
<html lang="en">

    <head>
        <title>epiCalendar</title>
        <meta charset="utf-8">
        <meta content="Convert SIES calendars to csv" name="description">
        <meta content="Juan Mier" name="author">
        <script src="{{url_for('static', filename='js/form.js')}}"></script>
    </head>

    <body onload="toggleModes('uo', 'epi', 'location', 'experimental-location', 'class-type')">
        <form method="post">
            <fieldset id="cookie"> <legend>epiCalendar</legend>
                <span>JSESSIONID: </span> <input type="text" id="jsessionid" name="jsessionid" placeholder="0000XXXXXXXXXXXXXXXXXXXXXXX:1dXXXXXXX"/>
                <input type="submit" value="Generate" id="submit">
                <input type="reset" value="Clear" id="reset" onclick="toggleModes('uo', 'epi', 'location', 'experimental-location', 'class-type')">
            </fieldset>
            <fieldset id="options"> <legend>Settings</legend>
                <span>File name: </span><input type="text" id="filename" name="filename" placeholder="Calendario.csv"> <br>
                <fieldset id="radios">
                    <legend> Quick settings </legend>
                    <input type="radio" name="radios" id="uo"
                        onclick="toggleModes('uo', 'epi', 'location', 'experimental-location', 'class-type')"> <label for="uo">University of Oviedo</label> <br>
                    <input type="radio" name="radios" id="epi" checked
                        onclick="toggleModes('uo', 'epi', 'location', 'experimental-location', 'class-type')"> <label for="epi">EPI Gijón</label> <br>
                </fieldset>
                <fieldset id="checkboxes">
                    <legend> Advanced settings </legend>
                    <input type="checkbox" name="cb" id="location" value="location"> <label for="location">Enable location parsing (EPI Gijón)</label> <br>
                    <input type="checkbox" name="cb" id="experimental-location" value="experimental-location"> <label for="experimental-location">Enable experimental location parsing (EPI Gijón)</label> <br>
                    <input type="checkbox" name="cb" id="class-type" value="class-type"> <label for="class-type">Enable class type parsing</label> <br>
                </fieldset>
            </fieldset>
        </form>
    </body>

</html>