@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  /* background: linear-gradient(#141e30, #243b55); */
  /* background: linear-gradient(-45deg, #373b52, #252736, #1d1e26); */
  background-image: radial-gradient(
    circle at 0% 0%,
    #373b52,
    #252736 51%,
    #1d1e26
  );
  /* background-image: radial-gradient(circle at 0% 0%, #4b6cb7, #182848); */

  background-size: 400% 400%;
  /* background: linear-gradient(
    45deg,
    #f17c58,
    #e94584,
    #24aadb,
    #27dbb1,
    #ffdc18,
    #ff3706
  ); */
  animation: gradient 10s ease infinite;
  animation-direction: alternate;
  padding-top: 7rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  /* margin: -20px 0 50px; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* div {
  overflow: hidden;
} */

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

h1 {
  font-size: 30px;
  min-width: 100%;
  font-weight: bold;
  margin: 0;
}

span {
  font-size: 14px;
}

button {
  border-radius: 20px;
  border: 1px solid #318930;
  background-color: #318930;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
button:hover {
  cursor: pointer;
}

/* input {
   background-color: #eee; 
   border: none; 
   padding: 12px 15px;
   padding: 10px; 
   margin: 8px 0; 
   width: 100%; 
} */

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

footer {
  background-color: white;
  font-size: 15px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

#root {
  width: 100%;
  overflow: hidden;
}
